################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CalcImpotsRevenu/CalcImpotsRevenu/bin/Debug
/CalcImpotsRevenu/CalcImpotsRevenu/obj
/CalcImpotsRevenu/Old/bin/Debug
/CalcImpotsRevenu/Old/obj/Debug
/CalcImpotsRevenu/Old/Properties
/CalcImpotsRevenu/New/obj/Debug
/CalcImpotsRevenu/Test/obj/Debug
/CalcImpotsRevenu/CalcImpotsRevenu.v12.suo
