################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CalcImpotsRevenu/CalcImpotsRevenu/bin/Debug
/CalcImpotsRevenu/CalcImpotsRevenu/obj
